@import url('https://fonts.cdnfonts.com/css/plus-jakarta-sans');

body {
	background: #121212;
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: white;
}

.overlay-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.overlay-gradient {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1728 1180'><defs><radialGradient id='paint0_radial_226_149' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(2522.36 771.207) rotate(-178.79) scale(2230.36 879.25)'><stop stop-color='%236248FF'/><stop offset='0.369278' stop-color='%23E5FF48'/><stop offset='0.588842' stop-color='%23FF48ED'/><stop offset='0.708333' stop-color='%2348BDFF'/><stop offset='0.932292' stop-color='%236248FF'/></radialGradient></defs><path d='M2123.75 293.105C1333.23 688.128 703.641 515.327 508.724 374.099C452.243 349.269 313.169 228.867 73.6286 197.922C-225.797 159.242 110.578 663.582 380.092 782.356C649.606 901.131 1580.73 925.224 2029.92 784.99C2601.98 606.399 3111.92 -200.674 2123.75 293.105Z' fill='url(%23paint0_radial_226_149)' fill-opacity='0.45'/></svg>")
		no-repeat center center / cover;

	background-size: cover;
	filter: blur(149px);
	opacity: 0.45;
	pointer-events: none;
	z-index: 9999;
}

.card {
	width: 200px;
	height: 270px;
	background: #1e1e1e;
	border-radius: 10px;
	padding: 9px;
	margin-right: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	overflow: visible; /* ДЛЯ ТУЛТИПА! */
	position: relative; /* чтобы абсолютный тултип корректно позиционировался */
}

.header {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background: #2c2c2c;
	padding: 5px;
	border-radius: 8px;
	margin-bottom: 15px;
}

.champ-info {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.champ-icon {
	width: 50px;
	height: 50px;
	background: gray;
	border-radius: 5px;
}

.champ-text {
	font-size: 10px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.rank-section {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.rank-icon {
	width: 50px;
	height: 50px;
}

.rank-text {
	font-size: 10px;
	line-height: 1.3;
}

.roles,
.stats {
	font-size: 10px;
	margin-bottom: 15px;
}

.stats {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	font-size: 10px;
	margin-bottom: 15px;
}

.abilities {
	display: flex;
	justify-content: space-between;
}

/* .ability {
	width: 28px;
	height: 28px;
	border-radius: 5px;
	position: relative;
} */

.ability {
	position: relative;
	display: inline-block; /* Ensure the tooltip is positioned correctly */
}

.ability-icon {
	width: 28px;
	height: 28px;
	border-radius: 5px;
}

.ability .tooltip-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	background: #1f1f1f;
	color: white;
	border: 1px solid #555;
	padding: 10px;
	border-radius: 8px;
	width: 250px;
}

.ability:hover .tooltip-content {
	display: block;
}

.ability-label {
	position: absolute;
	bottom: -11px;
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	color: white;
}

.cards-container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 32px;
}

.team-row {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: flex-start;
}

.stats-item {
	position: relative;
}
.stats-item .tooltip-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	background: #1f1f1f;
	color: white;
	border: 1px solid #555;
	padding: 10px;
	border-radius: 8px;
	width: 250px;
}
.stats-item:hover .tooltip-content {
	display: block;
}
